<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>{{title}}</title>
</head>
<body>

    <!-- Navbar 영역 -->
    <div class = 'header'>
        <div class = 'logo'>
            Home
        </div>
        
        <nav class = 'nav'>
            <div class = 'nav-links'>
                <ul>
                    <li class="nav-link">
                        <a href="">Board</a>           
                    </li>
                    <li class="nav-link">
                        <a href="">Book List</a>
                    </li>
                    <li class="nav-link">
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class = 'search-tab'>
                <input type="text">
                <button>Search</button>
            </div>
        </nav>
    </div>

    <!-- Contents 영역 -->
    <div class = 'contents-wrap'>
        <section class = 'contents'>
            <h1>BoardList</h1>
            <ul>
                <li class = "list-item">
                    <a href="">
                        <div class = 'board-content'>
                            <h3>제목-1</h3>
                            <p>내용</p>
                            <p>신윤수</p>
            
                        </div>
                        <div class = 'border-datetime'>
                            하루전
                        </div>
                        
                    </a>
                    
                </li>
                <li class = "list-item">
                    <a href="">
                        <div>
                            <h3>제목-2</h3>
                            <p>내용-2</p>
                            <p>김만수</p>
                        </div>
                        <div class = 'border-datetime'>
                            하루전
                        </div>
                    </a>
                </li>
                <li class = "list-item">
                    <a href="">
                        <div>
                            <h3>제목-3</h3>
                            <p>내용-3</p>
                            <p>나준만</p>
                        </div>
                        <div class = 'border-datetime'>
                            하루전
                        </div>
                    </a>
                </li>
            </ul>
        </section>

        <section>
            <h1>Flex System</h1>
            <!-- display flex -->
            <div class='flex-wrap'>
                <div class='flex-box'>

                </div>
            </div>

        </section>

    </div>
</body>
</html>