{% extends 'layout.njk' %}
{% block contents %}
  <section>
    <div class='main-header'>
      <h1>게시물 작성</h1>
    </div>

    <hr />

    <div class="main-content">
      <form action="" method='POST'>
        <div class="form-group row">
          <label for="board-title"
            class="col-sm-2 col-form-label col-form-label-sm">
            제목
          </label>
          <div class="col-sm-10">
            <input type="text"
              class="form-control form-control-sm"
              id="board-title" name='title'
              placeholder="제목을 입력해 주세요.">
          </div>
        </div>
        <div class="form-group row">
          <label for="board-author"
            class="col-sm-2 col-form-label col-form-label-sm">
            작성자
          </label>
          <div class="col-sm-10">
            <input type="text"
              class="form-control form-control-sm"
              id="board-author" name='author'
              placeholder="홍길동">
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label col-form-label-sm"
            for="content">
            본문
          </label>
          <div class="col-sm-10">
            <textarea class="form-control"
              id="content" rows="10"></textarea>
          </div>
        </div>
        <button type="submit"
          class="btn btn-success fr">글 작성
        </button>
      </form>
    </div>

  </section>
{% endblock contents %}
